<template>
  <div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>q</b>GIS</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Masuk Untuk Login</p>

          <form @submit.prevent="doLogin()" method="post">
            <div class="input-group mb-3">
              <input type="email" v-model.trim="$v.form.email.$model" class="form-control" placeholder="Email">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" v-model.trim="$v.form.password.$model" class="form-control" placeholder="Password">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <!-- <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Remember Me
                  </label>
                </div> -->
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Masuk</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>    
    </div>
  </div>
</template>
<script>
import { required, minLength, between } from 'vuelidate/lib/validators'

import { mapActions } from 'vuex'
export default {
  data () {
    return {
      form: {
        email: 'admin@admin.com',
        password: 'secret'
      }
    }
  },
  validations: {
    form: {
      email: {
        required
      },
      password: {
        required
      }
    }
  },
  methods: {
    ...mapActions([
      'authLogin'
    ]),
    doLogin() {
      this.$store.commit('setLoading', true);

      let form = new FormData();

      for (var key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          form.append(key, this.form[key])
        }
      }

      this.authLogin(form).then(res => {
        const { data } = res

        if(!data.success) {
          this.$swal.fire(
            'Gagal',
            'Login tidak Berhasil, coba lagi',
            'error'
          )

          this.$store.commit('setLoading', false);
          return false;
        }

        const { token } = data.data.token

        localStorage.setItem('token', token)

        this.$store.commit('setLoading', false);

        this.$router.push({
          name: 'DashboardPage'
        })
      })
    }
  }
}
</script>