<template>
  <div>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Dashboard</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard v1</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <!--  -->
              <div class="row">
                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h3>{{ getTotalGisPointType }}</h3>

                      <p>Jenis Titik Point</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <router-link :to="{name: 'GisPointTypePage'}" class="small-box-footer">Selengkapnya <i class="fas fa-arrow-circle-right"></i></router-link>
                  </div>
                </div>

                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h3>{{ getTotalGisPointActive }}</h3>

                      <p>Titik Point Aktif</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <router-link :to="{name: 'GisPointPage'}" class="small-box-footer">Selengkapnya <i class="fas fa-arrow-circle-right"></i></router-link>
                  </div>
                </div>

                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-secondary">
                    <div class="inner">
                      <h3>{{ getTotalGisPointInactive }}</h3>

                      <p>Titik Point Nonaktif</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <router-link :to="{name: 'GisPointPage'}" class="small-box-footer">Selengkapnya <i class="fas fa-arrow-circle-right"></i></router-link>
                  </div>
                </div>

                <div class="col-lg-3 col-6">
                  <!-- small box -->
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h3>{{ getTotalGisPoint }}</h3>

                      <p>Total Titik Point</p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-bag"></i>
                    </div>
                    <router-link :to="{name: 'GisPointPage'}" class="small-box-footer">Selengkapnya <i class="fas fa-arrow-circle-right"></i></router-link>
                  </div>
                </div>

              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  mounted() {
    this.fetchTotalGisPoint()
    this.fetchTotalGisPointActive()
    this.fetchTotalGisPointInactive()
    this.fetchTotalGisPointType()
  },
  computed: {
    ...mapGetters([
      'getTotalGisPoint',
      'getTotalGisPointActive',
      'getTotalGisPointInactive',
      'getTotalGisPointType'
    ])
  },
  methods: {
    ...mapActions([
      'fetchTotalGisPoint',
      'fetchTotalGisPointActive',
      'fetchTotalGisPointInactive',
      'fetchTotalGisPointType'
    ])
  }
}
</script>