<template>
  <div>
    <div class="p-2" v-if="properties != null">
      <img :src="properties.image" alt="" class="img-fluid">
      <div class="clearfix"></div>
      <div class="mt-2">
        <h6>{{ properties.title }}</h6>
        <button v-b-modal.modal-1 class="btn btn-light btn-block border">Buka di Popup</button>
        <b-modal id="modal-1" title="Detail" :hide-footer="true" scrollable size="lg">
          <div>
            <h6>{{ properties.title }}</h6>
          </div>
        </b-modal>
      </div>
    </div>
    <div v-else>Nothing to Display</div>
  </div>
</template>
 
<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    feature: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      properties: null
    }
  },
  mounted () {
    this.properties = this.feature.properties
  },
  methods: {
    popupClicked() {
      alert('Learn more clicked')
    },
  },
})
</script>