<template>
  <div>
    <form role="form" @submit.prevent="submitForm">
      <div class="card-body">
        <div class="form-group" v-if="show">
          <mapbox-lng-lat :lngLat="{lng: form.lng, lat: form.lat}" @select-lnglat="selectLngLat"/>
        </div>
        <div class="form-group">
          <button :disabled="form.lng == '' || form.lat == ''" class="btn btn-primary float-right">Tambah</button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import MapboxLngLat from '@/components/_mapbox/MapboxLngLat'
import { mapActions } from 'vuex'

export default {
  components: {
    MapboxLngLat
  },
  props: {
    point: {
      type: Object,
      default: () => ({})
    }
  },
  mounted () {
    setTimeout(() => {
      this.show = true
    }, 300)
    this.form.gis_point_id = this.point.id
  },
  data () {
    return {
      show: false,
      form: {
        gis_point_id: '',
        lng: '',
        lat: ''
      }
    }
  },
  methods: {
    ...mapActions([
      'saveGisPointHistory'
    ]),
    submitForm () {
      this.$store.commit('setLoading', true)
      let form = new FormData();

      for (var key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          form.append(key, this.form[key])
        }
      }

      console.log(this.form)

      this.saveGisPointHistory(form).then(res => {
        const { data } = res
        this.$store.commit('setLoading', false)
        this.$emit('on-save', true)
        this.$swal.fire(
          'Sukses',
          'Berhasil Tambah Data',
          'success'
        )
      }).catch(err => {
        console.log(err)
        this.$store.commit('setLoading', false)
      })
    },
    selectLngLat (data) {
      this.form.lng = data.lng;
      this.form.lat = data.lat
    }
  }
}
</script>