<template>
  <fragment>
    <form role="form" @submit.prevent="submitForm">
      <div class="card-body">
        <div class="form-group">
          <label for="judul">Nama</label>
          <input type="text" v-model.trim="$v.form.name.$model" class="form-control" id="judul" placeholder="Nama Tempat, Kantor, Klien, dll">
          <div class="error text-danger" v-if="!$v.form.name.required">Nama tidak boleh kosong.</div>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button :disabled="$v.$invalid" type="submit" class="btn btn-primary float-right">Simpan</button>
      </div>
    </form>
  </fragment>
</template>
<script>
import { required, minLength, between } from 'vuelidate/lib/validators'

import Mapbox from '@/components/_mapbox/Mapbox'
import MapboxLngLat from '@/components/_mapbox/MapboxLngLat'

import { mapActions } from 'vuex'
export default {
  name: "TambahTitikPoint",
  props: {
    fromModal: {
      default: false
    },
    isEdit: {
      default: false
    },
    dataEdit: {
      type: Object,
      default: () => ({})
    }
  },
  mounted () {
    if(this.isEdit) {
      this.form = this.dataEdit
      console.log('s', this.form)
    }

  },
  data () {
    return {
      env: process.env,
      form: {
        name: '',
      }
    }
  },
  validations: {
    form: {
      name: {
        required
      }
    }
  },
  methods: {
    ...mapActions([
      'saveGisPointType',
      'updateGisPointType'
    ]),
    changeToggleLatLng() {
      this.$store.commit('setLoading', true)
      this.isToggleLatLng = !this.isToggleLatLng
      setTimeout(() => {
        this.$store.commit('setLoading', false)
      }, 200)
    },
    submitForm() {
      this.$store.commit('setLoading', true)

      if(this.isEdit) {
        this.submitUpdate()
      } else{
        this.submitSave()
      }
    },
    submitSave() {
      let form = new FormData();

      for (var key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          form.append(key, this.form[key])
        }
      }

      this.saveGisPointType(form).then(res => {
        const { data } = res
        this.$store.commit('setLoading', false)
        this.$emit('on-save', true)
        this.$swal.fire(
          'Sukses',
          'Berhasil Tambah Data',
          'success'
        )
      }).catch(err => {
        console.log(err)
        this.$store.commit('setLoading', false)
      })

    },
    submitUpdate() {
      let form = new FormData();

      for (var key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          form.append(key, this.form[key])
        }
      }

      this.updateGisPointType(form).then(res => {
        const { data } = res
        this.$store.commit('setLoading', false)
        this.$emit('on-save', true)
        this.$swal.fire(
          'Sukses',
          'Berhasil Edit Data',
          'success'
        )
      }).catch(err => {
        console.log(err)
        this.$store.commit('setLoading', false)
      })
    }
  }
}
</script>