<template>
  <fragment>
    <form role="form" @submit.prevent="submitForm">
      <div class="card-body">
        <div class="form-group">
          <label for="judul">Judul</label>
          <input type="text" v-model.trim="$v.form.title.$model" class="form-control" id="judul" placeholder="Nama Tempat, Kantor, Klien, dll">
          <div class="error text-danger" v-if="!$v.form.title.required">Judul tidak boleh kosong.</div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="judul">Longitude</label>
              <input type="text" v-model.trim="$v.form.lng.$model" readonly class="form-control" id="judul" placeholder="Longitude">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="judul">Latitude</label>
              <input type="text" v-model.trim="$v.form.lat.$model" readonly class="form-control" id="judul" placeholder="Latitude">
            </div>
          </div>
          <div class="col-md-12">
            <div class="error text-danger" v-if="!$v.form.lat.required || !$v.form.lng.required">Lng & Lat Harus Diisi</div>
          </div>
          <div class="col-md-12" v-if="!fromModal">
            <button type="button" v-bind:class="{'btn-primary' : isToggleLatLng, 'btn-secondary' : !isToggleLatLng}" class="btn btn-sm" v-on:click="changeToggleLatLng()">
              {{isToggleLatLng ? 'Tutup Map' : 'Buka Map'}}
            </button>
            <fragment v-if="isToggleLatLng">
              <hr/>
              <mapbox-lng-lat :lngLat="{lng: form.lng, lat: form.lat}" @select-lnglat="selectLngLat"/>
            </fragment>
          </div>
        </div>
        <hr v-if="!fromModal"/>
        <div class="form-group">
          <label for="judul">Jenis Titik Point</label>
          <base-point-type v-model.trim="$v.form.point_type_id.$model"/>
          <div class="error text-danger" v-if="!$v.form.point_type_id.required">Jenis Titik Point Harus Diisi</div>
        </div>
        <div class="form-group">
          <label for="judul">Deskripsi</label>
          <textarea class="form-control" v-model="form.description"></textarea>
        </div>
        <div class="form-group">
          <label for="judul">Alamat</label>
          <textarea class="form-control" v-model.trim="$v.form.address.$model"></textarea>
          <div class="error text-danger" v-if="!$v.form.address.required">Alamat Harus Diisi</div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" v-model="form.email" class="form-control" id="email" placeholder="email@email.tld">
        </div>
        <div class="form-group">
          <label for="phone">Nomor HP</label>
          <input type="number" v-model="form.phone" class="form-control" id="phone" placeholder="08xxx">
        </div>
        <div class="form-group">
          <label for="home_phone">Nomor Rumah</label>
          <input type="number" v-model="form.home_phone" class="form-control" id="home_phone" placeholder="0251xxx">
        </div>
        <div class="form-group">
          <label for="work_phone">Nomor Kerja</label>
          <input type="number" v-model="form.work_phone" class="form-control" id="work_phone" placeholder="0251xxx">
        </div>
        <div class="form-group">
          <label for="provinsi">Provinsi</label>
          <input type="text" v-model="form.province" class="form-control" id="provinsi" placeholder="Jawa Barat">
        </div>
        <div class="form-group">
          <label for="kota">Kota</label>
          <input type="text" v-model="form.city" class="form-control" id="kota" placeholder="Bogor">
        </div>
        <div class="form-group">
          <label for="kecamatan">Kecamatan</label>
          <input type="text" v-model="form.district" class="form-control" id="kecamatan" placeholder="Tamansari">
        </div>
        <div class="form-group">
          <label for="desa">Desa</label>
          <input type="text" v-model="form.village" class="form-control" id="desa" placeholder="Sirnagalih">
        </div>
        <div class="form-group">
          <label for="rt">RT / RW</label>
          <input type="text" v-model="form.na_ca" class="form-control" id="rt" placeholder="000/000">
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Gambar</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" accept="image/*" @change="uploadImage($event)" class="custom-file-input" id="exampleInputFile">
              <label class="custom-file-label" for="exampleInputFile">
                <span v-if="isEdit">
                  {{ this.form.image }}
                </span>
                <span v-else>
                  {{ this.form.image != '' ? this.form.image.name : 'Choose file'}}
                </span>
              </label>
            </div>
          </div>
          <div v-if="isEdit" class="mt-3">
            <div class="row">
              <div class="col-md-4 mx-auto">
                 <img :src="`${env.VUE_APP_API_URL}/uploads/images/${dataEdit.image}`" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Status</label>
          <select class="form-control" v-model="form.is_active">
            <option value="1">Aktif</option>
            <option value="0">Nonaktif</option>
          </select>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button :disabled="$v.$invalid" type="submit" class="btn btn-primary float-right">Simpan</button>
      </div>
    </form>
  </fragment>
</template>
<script>
import { required, minLength, between } from 'vuelidate/lib/validators'

import Mapbox from '@/components/_mapbox/Mapbox'
import MapboxLngLat from '@/components/_mapbox/MapboxLngLat'

import { mapActions } from 'vuex'
export default {
  name: "TambahTitikPoint",
  props: {
    lngLat: {
      type: Object,
      default: () => ({
        lng: null,
        lat: null
      })
    },
    fromModal: {
      default: false
    },
    isEdit: {
      default: false
    },
    dataEdit: {
      type: Object,
      default: () => ({})
    }
  },
  components: {
    'mapbox-component' : Mapbox,
    'mapbox-lng-lat' : MapboxLngLat
  },
  mounted () {
    this.form.lng = this.lngLat.lng
    this.form.lat = this.lngLat.lat

    if(this.isEdit) {
      this.form = this.dataEdit

      if(this.dataEdit.is_active == '' || this.dataEdit == null) {
        this.form.is_active = 0;
      }
  
    }

  },
  data () {
    return {
      isToggleLatLng: false,
      env: process.env,
      form: {
        title: '',
        lng: 0,
        lat: 0,
        point_type_id: null,
        description: '',
        image: '',
        address: '',
        email: '',
        phone: '',
        home_phone: '',
        work_phone: '',
        province: '',
        city: '',
        distinct: '',
        village: '',
        na_ca: '',
        is_active: 1
      }
    }
  },
  validations: {
    form: {
      title: {
        required
      },
      lng: {
        required
      },
      lat: {
        required
      },
      point_type_id: {
        required
      },
      address: {
        required
      }
    }
  },
  methods: {
    ...mapActions([
      'saveGisPoint',
      'updateGisPoint'
    ]),
    changeToggleLatLng() {
      this.$store.commit('setLoading', true)
      this.isToggleLatLng = !this.isToggleLatLng
      setTimeout(() => {
        this.$store.commit('setLoading', false)
      }, 200)
    },
    selectLngLat(e) {
      this.form.lng = e.lng
      this.form.lat = e.lat
    },
    uploadImage(event) {
      this.form.image = event.target.files[0]
    },
    submitForm() {
      this.$store.commit('setLoading', true)

      if(this.isEdit) {
        this.submitUpdate()
      } else{
        this.submitSave()
      }
    },
    submitSave() {
      let form = new FormData();

      for (var key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          form.append(key, this.form[key])
        }
      }

      this.saveGisPoint(form).then(res => {
        const { data } = res
        this.$store.commit('setLoading', false)
        this.$emit('on-save', true)
        this.$swal.fire(
          'Sukses',
          'Berhasil Tambah Data',
          'success'
        )
      }).catch(err => {
        console.log(err)
        this.$store.commit('setLoading', false)
      })

    },
    submitUpdate() {
      let form = new FormData();

      for (var key in this.form) {
        if (this.form.hasOwnProperty(key)) {
          form.append(key, this.form[key])
        }
      }

      this.updateGisPoint(form).then(res => {
        const { data } = res
        this.$store.commit('setLoading', false)
        this.$emit('on-save', true)
        this.$swal.fire(
          'Sukses',
          'Berhasil Edit Data',
          'success'
        )
      }).catch(err => {
        console.log(err)
        this.$store.commit('setLoading', false)
      })
    }
  }
}
</script>