<template>
  <div>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Daftar Titik</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Gis</a></li>
                <li class="breadcrumb-item active">Daftar Titik</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <datatable-api
                      ref="table"
                      :endpoint="endpoint"
                      :sort-order="sortOrder"
                      :more-params="moreParams"
                      :fields="fields"
              >
              <fragment slot="filter">
                <div class="col-md-3">
                  <label for="">Tipe Titik</label>
                  <select class="form-control" v-model="moreParams.type">
                    <option value="all">Semua</option>
                    <option value="school">Sekolah</option>
                    <option value="office">Kantor</option>
                    <option value="home">Rumah</option>
                    <option value="client">Klien</option>
                  </select>
                </div>
              </fragment>
              <div slot="title" class="card-header justify-content-between">
                <div class="card-title">Daftar Titik</div>

                <router-link :to="{name: 'GisTambahTitikPoint'}" class="btn float-right text-light btn-primary btn-sm">
                    <i class="fa fa-plus fa-fw"></i> Tambah
                </router-link>
              </div>
              <template slot="status" slot-scope="{rowData}">
                <fragment v-if="rowData.is_active == 1">
                  <button class="btn btn-success btn-sm"><i class="fas fa-check"></i></button>
                </fragment>
                <fragment v-else>
                  <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>
                </fragment>
              </template>
              <template slot="actions" slot-scope="{rowData}">
                <div class="dropdown">
                  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" v-on:click="showEdit(rowData)"><i class="fas fa-edit"></i> Edit</button>
                    <button class="dropdown-item" v-on:click="addHistory(rowData)"><i class="fas fa-history"></i> Tambah History</button>
                    <button class="dropdown-item" v-b-modal.modal-1 v-on:click="showDetail(rowData)"><i class="fas fa-eye"></i> View</button>
                    <button class="dropdown-item" v-on:click="onDelete(rowData.id)"><i class="fas fa-trash"></i> Hapus</button>
                  </div>
                </div>
              </template>
              </datatable-api>
              <b-modal id="modal-edit" scrollable title="Edit" size="lg" :hide-footer="true">
                <TambahTitikPoint :isEdit="true" :dataEdit="gisDetail" @on-save="refresh()"/>
              </b-modal>
              <b-modal id="modal-history" scrollable title="Tambah History" size="lg" :hide-footer="true">
                <TambahHistoryTitikPoint :point="gisDetail" @on-save="refresh()"/>
              </b-modal>
              <b-modal id="modal-1" scrollable title="Detail" size="lg" :hide-footer="true">
                <div class="my-3">
                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Judul</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.title }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Latitude</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.lat }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Longitude</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.lng }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Type</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.type }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Description</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.description }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Image</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.image }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Address</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.address }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Phone</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.phone }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Home Phone</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.home_phone }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Work Phone</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.work_phone }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Province</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.province }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">City</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.city }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">District</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.district }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Village</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.village }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">RT/RW</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.na_ca }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Status</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.is_active }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Created</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.created_at }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Last Updated</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.updated_at }}</p>
                    </div>
                  </div>


                </div>
              </b-modal>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import DatatableApi from "@/components/table/DatatableApi";
import TambahTitikPoint from './_form/TambahTitikPoint'
import TambahHistoryTitikPoint from './_form/TambahHistoryTitikPoint'

import { mapActions } from 'vuex'
export default {
  components: {
    DatatableApi,
    TambahTitikPoint,
    TambahHistoryTitikPoint
  },
  data () {
    return {
      gisDetail: {
        title: "update",
        lat: null,
        lng: null,
        type: null,
        description: "description",
        image: null,
        address: "address",
        email: "email",
        phone: null,
        home_phone: "home_phone",
        work_phone: null,
        province: null,
        city: null,
        district: null,
        village: null,
        na_ca: null,
        is_active: null,
        updated_at: "2019-11-01 20:56:14",
        created_at: "",
        id: "5"
      },
      fields: [
        {
            name: '__sequence',
            title: '#',
            titleClass: 'text-right',
            dataClass: 'text-right'
        },
        {
          name: 'title',
          title: 'Judul',
          sortField: 'title',
        },
        {
          name: 'type',
          title: 'Tipe',
          sortField: 'type',
        },
        {
          name: 'description',
          title: 'Deskripsi',
          sortField: 'description',
        },
        {
          name: 'address',
          title: 'Alamat',
          sortField: 'address',
        },
        {
          name: '__slot:status',
          title: 'Status',
          titleClass: 'text-center',
          dataClass: 'text-center'
        },
        {
          name: '__slot:actions',
          title: 'Actions',
          titleClass: 'text-center',
          dataClass: 'text-center'
        }
      ],
      sortOrder: [],
      moreParams: {
        per_page: 5,
        type: "all"
      },
      endpoint: `${process.env.VUE_APP_API_URL}/api/gis_point/all`,
    }
  },
  methods: {
    ...mapActions([
      'deleteGisPoint'
    ]),
    showDetail(row) {
      this.$store.commit('setLoading', true)

      setTimeout(() => {
        this.gisDetail = row
        this.$store.commit('setLoading', false)
      }, 150)
    },
    showEdit(row) {
      this.$store.commit('setLoading', true)

      setTimeout(() => {
        this.gisDetail = row
        this.$bvModal.show('modal-edit')
        this.$store.commit('setLoading', false)
      }, 150)
    },
    addHistory(row) {
      this.$store.commit('setLoading', true)

      setTimeout(() => {
        this.gisDetail = row
        this.$bvModal.show('modal-history')
        this.$store.commit('setLoading', false)
      }, 150)
    },
    refresh() {
      this.$refs.table.$refs.vuetable.refresh()
    },
    onDelete(id) {
      this.$swal.fire({
          title: 'Apa anda yakin?',
          text: "Tindakan tidak dapat dibatalkan setelah ini.",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Ya',
          cancelButtonText: 'Tidak'
        }).then((result) => {
          if (result.value) {
            this.$store.commit('setLoading', true)
            this.deleteGisPoint(id).then(res => {
              this.refresh()
              this.$swal.fire(
                'Dihapus!',
                'Berhasil dihapus',
                'success'
              )
              this.$store.commit('setLoading', false)
            }).catch(err => {
              this.$swal.fire(
                'Gagal!',
                'Gagal dihapus',
                'error'
              )
              this.$store.commit('setLoading', false)
            })
          }
        })
    }
  }
}
</script>