<template>
  <div>
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Daftar Jenis Titik</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Gis</a></li>
                <li class="breadcrumb-item active">Daftar Jenis Titik</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <datatable-api
                      :endpoint="endpoint"
                      :sort-order="sortOrder"
                      :more-params="moreParams"
                      :fields="fields"
              >
              <div slot="title" class="card-header justify-content-between">
                <div class="card-title">Daftar Jenis Titik</div>

                <router-link :to="{name: 'GisTambahJenisTitikPoint'}" class="btn float-right text-light btn-primary btn-sm">
                    <i class="fa fa-plus fa-fw"></i> Tambah
                </router-link>
              </div>

              <template slot="actions" slot-scope="{rowData}">
                <div class="dropdown">
                  <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" v-on:click="showEdit(rowData)"><i class="fas fa-edit"></i> Edit</button>
                    <button class="dropdown-item" v-b-modal.modal-1 v-on:click="showDetail(rowData)"><i class="fas fa-eye"></i> View</button>
                  </div>
                </div>
              </template>
              </datatable-api>
              <b-modal id="modal-edit" scrollable title="Edit" size="lg" :hide-footer="true">
                <TambahJenisTitikPoint :isEdit="true" :dataEdit="gisDetail"/>
              </b-modal>

              <b-modal id="modal-1" scrollable title="Detail" size="lg" :hide-footer="true">
                <div class="my-3">
                  <div class="row">
                    <div class="col-md-3">
                      <h6 class="text-right">Nama</h6>
                    </div>
                    <div class="col-md-9">
                      <p>: {{ gisDetail.name }}</p>
                    </div>
                  </div>
                </div>
              </b-modal>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import DatatableApi from "@/components/table/DatatableApi";
import TambahJenisTitikPoint from './_form/TambahJenisTitikPoint'
export default {
  components: {
    DatatableApi,
    TambahJenisTitikPoint
  },
  data () {
    return {
      gisDetail: {
        title: "update",
        lat: null,
        lng: null,
        type: null,
        description: "description",
        image: null,
        address: "address",
        email: "email",
        phone: null,
        home_phone: "home_phone",
        work_phone: null,
        province: null,
        city: null,
        district: null,
        village: null,
        na_ca: null,
        is_active: null,
        updated_at: "2019-11-01 20:56:14",
        created_at: "",
        id: "5"
      },
      fields: [
        {
            name: '__sequence',
            title: '#',
            titleClass: 'text-right',
            dataClass: 'text-right'
        },
        {
          name: 'name',
          title: 'Nama',
          sortField: 'name',
        },
        {
          name: '__slot:actions',
          title: 'Actions',
          titleClass: 'text-center',
          dataClass: 'text-center'
        }
      ],
      sortOrder: [],
      moreParams: {
        per_page: 5,
        type: "all"
      },
      endpoint: `${process.env.VUE_APP_API_URL}/api/point_type/all`,
    }
  },
  methods: {
    showDetail(row) {
      setTimeout(() => {
        this.gisDetail = row
      }, 150)
    },
    showEdit(row) {
      this.$store.commit('setLoading', true)

      setTimeout(() => {
        this.gisDetail = row
        this.$bvModal.show('modal-edit')
        this.$store.commit('setLoading', false)
      }, 150)
    }
  }
}
</script>