<template>
  <fragment>
    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
      <fragment>
        <fragment v-for="(menu, index) in menus" :key="index">
          <fragment v-if="menu.type == 'menu'">
            <fragment 
              v-if="menu.childrens.length > 0">
              <li class="nav-item has-treeview" v-bind:class="{'menu-open' : checkRoute(menu)}">
                <a href="#" class="nav-link" v-bind:class="{'active' : checkRoute(menu)}">
                  <i :class="`${menu.icon}`"></i>
                  <p>
                    {{ menu.title }}
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview" :style="`display:${checkRoute(menu) ? 'block' : 'none'}`">
                  <fragment v-for="(child, indexChild) in menu.childrens" :key="indexChild">

                    <!-- level 3-->
                    <fragment v-if="child.childrens.length > 0">
                      <li class="nav-item has-treeview" v-bind:class="{'menu-open' : checkRoute(child)}">
                        <a href="#" class="nav-link" v-bind:class="{'active' : checkRoute(child)}">
                          <i :class="`${child.icon}`"></i>
                          <p>
                            {{ child.title }}
                            <i class="right fas fa-angle-left"></i>
                          </p>
                        </a>
                        <ul class="nav nav-treeview" :style="`display:${checkRoute(child) ? 'block' : 'none'}`">
                          <fragment v-for="(subChild, indexSubChild) in child.childrens" :key="indexSubChild">
                            <li class="nav-item">
                              <router-link :to="{name: subChild.route}" class="nav-link" v-bind:class="{'active' : checkRoute(subChild)}">
                                <i :class="`${subChild.icon}`"></i>
                                <p>{{ subChild.title }}</p>
                              </router-link>
                            </li>
                          </fragment>
                        </ul>
                      </li>
                    </fragment>
                    <fragment v-else>
                      <li class="nav-item">
                        <router-link :to="{name: child.route}" class="nav-link" v-bind:class="{'active' : checkRoute(child)}">
                          <i :class="`${child.icon}`"></i>
                          <p>{{ child.title }}</p>
                        </router-link>
                      </li>
                    </fragment>
                    <!-- end level 3-->
                  </fragment>
                </ul>
              </li>
            </fragment>
            <fragment v-else> 
              <li class="nav-item">
                <router-link :to="{name: menu.route}" class="nav-link" v-bind:class="{'active' : checkRoute(menu)}">
                  <i :class="`${menu.icon}`"></i>
                  <p>
                    {{ menu.title }}
                  </p>
                </router-link>
              </li>
            </fragment> 
          </fragment>
          <fragment v-else-if="menu.type == 'divider'">
            <li 
              class="nav-header">
              <strong>{{ menu.title }}</strong>
            </li>
          </fragment>
        </fragment>
      </fragment>
    </ul>
  </fragment>
</template>
<script>
export default {
  props: {
    menus: {
      default: () => []
    }
  },
  data () {
    return {
      route: '',
      defaultMenu: {
        route: 'DashboardPage',
        childrens: []
      }
    }
  },
   mounted () {
     this.defaultMenu = {
       route: this.$route.name,
       childrens: []
     }

     this.route = this.$route.name

    this.checkRoute(this.defaultMenu)
  },
  methods: {
     checkRoute(menu) {
      if(menu.childrens.length > 0) {
        let filters = menu.childrens.filter(v => {
          return v.route == this.route
        })

        if(filters.length > 0) {
          return true;
        } else {
          let hasChilds = menu.childrens.filter(v => {
            return v.childrens.length > 0
          })

          if(hasChilds[0] != undefined) {
            let filterChilds = hasChilds[0].childrens.filter(v => {
              return v.route == this.route
            })

            return filterChilds.length > 0 ? true : false;
          } else {
            return false;
          }
        }

        return false;
      } else {
        if(menu.route == this.route) return true;

        return false;
      }
    }
  },
  watch: {
    '$route' (val) {
      this.route = val.name
    }
  }
}
</script>