<template>
  <div>
    <select class="form-control" v-bind="$attrs" v-on:change="changeValue">
      <option disabled>Pilih</option>
      <option v-for="(option, index) in options" :key="index" :value="option.id">{{ option.name }}</option>
    </select>
  </div>
</template>
<script>
export default {
  data () {
    return {
      options: []
    }
  },
  mounted () {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      await axios.get(`${process.env.VUE_APP_API_URL}/api/point_type/all?per_page=100`)
        .then(res => {
          const { data } = res
          this.options = data.data
        }).catch(err => {
          console.log(err)
        })
    },
    changeValue(e) {
      this.$emit('input', e.target.value)
    }
  }
}
</script>