<template>
  <div>
    
  </div>
</template>
<script>
require ('@/assets/theme/plugins/jquery/jquery.min.js');
require ('@/assets/theme/plugins/jquery-ui/jquery-ui.min.js');
require ('@/assets/theme/plugins/bootstrap/js/bootstrap.bundle.min.js');
require ('@/assets/theme/plugins/jquery/jquery.min.js');
require ('@/assets/theme/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js');
require ('@/assets/theme/dist/js/adminlte.js');

export default {
  
}
</script>