<template>
  <div>
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-light-primary elevation-3">
      <!-- Brand Logo -->
      <a href="index3.html" class="brand-link navbar-primary text-white">
        <img src="@/assets/theme/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">qGIS</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!--<div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="@/assets/theme/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">qHRD Admin</a>
          </div>
        </div>-->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <sidebar-list :menus="menus"/>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>    
  </div>
</template>

<script>
import SidebarList from './_sidebar/List'
export default {
  components: {
    SidebarList
  },
  data () {
    return {
      menus: [
        {
          title: "Dashboard",
          icon: "nav-icon fas fa-tachometer-alt",
          route: "DashboardPage",
          type: "menu",
          childrens: [],
        },
        {
          title: "APLIKASI",
          icon: "",
          route: "#",
          type: "divider",
          childrens: [],
        },
        {
          title: "Jenis Titik Point",
          icon: "nav-icon fas fa-ellipsis-v",
          route: "GisPointTypePage",
          type: "menu",
          childrens: []
        },
        {
          title: "Titik Point",
          icon: "nav-icon fas fa-map-marker",
          route: "GisPointPage",
          type: "menu",
          childrens: []
        },
        {
          title: "GIS",
          icon: "nav-icon fas fa-map-pin",
          route: "GisPage",
          type: "menu",
          childrens: []
        },
        {
          title: "Perjalanan",
          icon: "nav-icon fas fa-directions",
          route: "GisPerjalananPage",
          type: "menu",
          childrens: []
        },
        {
          title: "History Perjalanan",
          icon: "nav-icon fas fa-history",
          route: "GisHistoryPerjalanan",
          type: "menu",
          childrens: []
        },
        // {
        //   title: "KHUSUS",
        //   icon: "",
        //   route: "#",
        //   type: "divider",
        //   childrens: [],
        // },
        // {
        //   title: "Pengaturan",
        //   icon: "nav-icon fas fa-sliders-h",
        //   route: "#",
        //   type: "menu",
        //   childrens: [
        //     {
        //       title: "Umum",
        //       icon: "far fa-circle nav-icon",
        //       route: "PengaturanUmumPage",
        //       type: "menu",
        //       childrens: []
        //     }
        //   ]
        // },
      ]
    }
  }
}
</script>