<template>
  <fragment>
    <div class="dropdown">
        <!-- <button class="btn btn-warning" v-on:click="refreshData()"><i class="fas fa-sync"></i></button> -  -->
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Style
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <button 
            v-for="(style, index) in mapOptions.styles"
            v-on:click="changeStyle(style.value)"
            v-bind:class="{
              'bg-secondary' : mapOptions.style == style.value
            }"
            :key="index" class="dropdown-item">
              {{ style.name }}
          </button>
        </div>
      </div>
  </fragment>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      mapOptions: {
        style: "mapbox://styles/mapbox/streets-v11",
        styles: [
          {
            name: "Light",
            value: "mapbox://styles/mapbox/light-v10"
          },
          {
            name: "Dark",
            value: "mapbox://styles/mapbox/dark-v10"
          },
          {
            name: "Streets",
            value: "mapbox://styles/mapbox/streets-v11"
          },
          {
            name: "Outdoors",
            value: "mapbox://styles/mapbox/outdoors-v11"
          },
          {
            name: "Satellite",
            value: "mapbox://styles/mapbox/satellite-v9"
          }
        ]
      }
    }
  },
  methods: {
    ...mapActions([
      'fetchGisPointFeatureCollections'
    ]),
    changeStyle(value) {
      this.mapOptions.style = value
      this.$emit('on-change', value)
    },
    refreshData() {
      this.$store.commit('setLoading', true)
      this.fetchGisPointFeatureCollections().then(res => {
        this.$store.commit('setLoading', false)
        console.log(res.data.data)
        this.$parent.removeMarker()
        this.$parent.mapOptions.map.getSource('points').setData(res.data.data);
        this.$parent.setImage()
      }).catch(err => {
        this.$store.commit('setLoading', false)
      })
    }
  }
}
</script>