<template>
  <div>
    <div class="row">
      <div class="col-md-12">
        <mapbox
          :access-token=mapOptions.accessToken
          :map-options="{
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [0, 0],
            zoom: 3,
          }"
          :geolocate-control="{
            show: true,
            position: 'top-right',
          }"
          :scale-control="{
            show: true,
            position: 'top-right',
          }"
          :fullscreen-control="{
            show: true,
            position: 'top-right',
          }"
          @map-load="loaded"
          @map-click="mapClick"
          @geolocate-geolocate="geolocate"
          @map-init="mapInitialized"
        />
      </div>
    </div>
  </div>
</template>
<script>
import Mapbox from 'mapbox-gl-vue'
var mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');

var fs = require('fs');

var MapboxGeocoder = require('@mapbox/mapbox-gl-geocoder');
// var MapboxDirections = require('@mapbox/mapbox-gl-directions');

import MapboxDirections from '@mapbox/mapbox-gl-directions/dist/mapbox-gl-directions'
import '@mapbox/mapbox-gl-directions/dist/mapbox-gl-directions.css'

import MapboxStyle from './MapboxStyle'

export default {
  components: {
    Mapbox,
    MapboxStyle
  },
  data () {
    return {
      mapOptions: {
        map: null,
        marker: null,
        accessToken: process.env.VUE_APP_MAPBOX_API,
      }
    }
  },
  methods: {
    mapInitialized(map) {
      console.log(MapboxGeocoder)

      map.addControl(new MapboxDirections({
        accessToken: process.env.VUE_APP_MAPBOX_API
      }), 'top-left');
      this.mapOptions.map = map
    },
    changeStyle(value) {
      this.mapOptions.map.setStyle(value)
    },
    onDragEnd(e) {
      const {lat, lng} = e.target._lngLat
      this.$emit('select-lnglat', e.target._lngLat)
    },
    mapClick(map, e) {
      const {lat, lng} = e.lngLat
      this.$emit('select-lnglat', e.lngLat)
      this.mapOptions.marker.setLngLat([lng, lat])
        .addTo(map);
    },
    loaded(map) {
      this.mapOptions.marker = new mapboxgl.Marker({
        draggable: true
      }).setLngLat([0, 0])
        .addTo(map);

      this.mapOptions.marker.on('dragend', this.onDragEnd);
  
    },
    geolocate(control, position) {
      console.log(
        `User position: ${position.coords.latitude}, ${position.coords.longitude}`
      )
    },
  }
}
</script>
<style>

#map {
  width: 100%;
  height: 500px;
}
</style>