<template>
  <div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <mapbox-style @on-change="changeStyle"/>
      </div>
      <div class="col-md-12">
        <mapbox
          :access-token=mapOptions.accessToken
          :map-options="{
            style: 'mapbox://styles/mapbox/streets-v9',
            center: mapOptions.center,
            zoom: 3,
          }"
          :geolocate-control="{
            show: true,
            position: 'top-left',
          }"
          :scale-control="{
            show: true,
            position: 'top-left',
          }"
          :fullscreen-control="{
            show: true,
            position: 'top-left',
          }"
          @map-load="loaded"
          @map-click="mapClick"
          @geolocate-geolocate="geolocate"
          @map-init="mapInitialized"
        />
      </div>
    </div>
  </div>
</template>
<script>
import Mapbox from 'mapbox-gl-vue'
var mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');

var MapboxGeocoder = require('@mapbox/mapbox-gl-geocoder');

import MapboxStyle from './MapboxStyle'

export default {
  props: {
    lngLat: {
      type: Object,
      default: () => (null)
    }
  },
  components: {
    Mapbox,
    MapboxStyle
  },
  data () {
    return {
      mapOptions: {
        map: null,
        marker: null,
        accessToken: process.env.VUE_APP_MAPBOX_API,
        center: [0, 0]
      }
    }
  },
  methods: {
    mapInitialized(map) {
      console.log(MapboxGeocoder)
      map.addControl(new MapboxGeocoder({
        accessToken: this.mapOptions.accessToken,
        mapboxgl: mapboxgl,
        marker: {
          color: 'orange'
        },
      }).on('result', (e) => {
        this.$emit('select-lnglat', {
          lng: e.result.geometry.coordinates[0],
          lat: e.result.geometry.coordinates[1]
        })
      }));

      this.mapOptions.map = map
    },
    changeStyle(value) {
      this.mapOptions.map.setStyle(value)
    },
    onDragEnd(e) {
      const {lat, lng} = e.target._lngLat
      this.$emit('select-lnglat', e.target._lngLat)
    },
    mapClick(map, e) {
      const {lat, lng} = e.lngLat
      this.$emit('select-lnglat', e.lngLat)
      this.mapOptions.marker.setLngLat([lng, lat])
        .addTo(map);
    },
    loaded(map) {
      if(this.lngLat != null) {
        this.mapOptions.center = [this.lngLat.lng, this.lngLat.lat]
        map.flyTo({center: this.mapOptions.center});

        this.mapOptions.marker = new mapboxgl.Marker({
          draggable: true
        }).setLngLat(this.mapOptions.center)
        .addTo(map);
      }

      this.mapOptions.marker.on('dragend', this.onDragEnd);
    },
    geolocate(control, position) {
      this.$emit('select-lnglat', {
        lng: position.coords.longitude,
        lat: position.coords.latitude
      })
    },
  }
}
</script>
<style>
#map {
  width: 100%;
  height: 500px;
}
</style>