<template>
  <div>
    <div class="row">
      <div class="col-md-12 mb-2">
        <mapbox-style @on-change="changeStyle"/>
      </div>
      <div class="col-md-12">
        <mapbox
          :access-token=mapOptions.accessToken
          :map-options="{
            style: 'mapbox://styles/mapbox/streets-v9',
            center: [0, 0],
            zoom: 3,
          }"
          :geolocate-control="{
            show: true,
            position: 'top-left',
          }"
          :scale-control="{
            show: true,
            position: 'top-left',
          }"
          :fullscreen-control="{
            show: true,
            position: 'top-left',
          }"
          @map-load="loaded"
          @map-click="mapClick"
          @geolocate-geolocate="geolocate"
          @map-init="mapInitialized"
        />
      </div>
    </div>
  </div>
</template>
<script>
import Mapbox from 'mapbox-gl-vue'
var mapboxgl = require('mapbox-gl/dist/mapbox-gl.js');

var MapboxGeocoder = require('@mapbox/mapbox-gl-geocoder');

import PopupContent from './PopupContent.vue'
import MapboxStyle from './MapboxStyle'
import PopupMarkerVue from './PopupMarker.vue';

import { mapGetters, mapActions } from 'vuex'
export default {
  components: {
    Mapbox,
    MapboxStyle
  },
  data () {
    return {
      mapOptions: {
        map: null,
        marker: null,
        markerGis: [],
        accessToken: process.env.VUE_APP_MAPBOX_API,
      }
    }
  },
  mounted () {
    this.fetchGisPointFeatureCollections()
  },
  computed: {
    ...mapGetters([
      'getGisFeatureCollections'
    ])
  },
  methods: {
    ...mapActions([
      'fetchGisPointFeatureCollections'
    ]),
    updateState() {
      this.fetchGisPointFeatureCollections()
    },
    mapInitialized(map) {
      map.addControl(new MapboxGeocoder({
        accessToken: this.mapOptions.accessToken,
        mapboxgl: mapboxgl
      }));

      this.mapOptions.map = map
    },
    changeStyle(value) {
      this.mapOptions.map.setStyle(value)
    },
    onDragEnd(e) {
      const {lat, lng} = e.target._lngLat
    },
    mapClick(map, e) {
      var features = map.queryRenderedFeatures(e.point, { layers: ['points'] });

      if (features.length > 0) {
        const feature = features[0]
        const coordinates = feature.geometry.coordinates.slice()
 
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360
        }
 
        new mapboxgl.Popup()
          .setLngLat({ lng: coordinates[0], lat: coordinates[1] })
          .setHTML('<div id="vue-popup-content"></div>')
          .addTo(map)
 
        new PopupContent({
          propsData: { feature: feature },
        }).$mount('#vue-popup-content')
      } else {
        const {lat, lng} = e.lngLat
        this.mapOptions.marker.setLngLat([lng, lat])
          .addTo(map);

        // new mapboxgl.Popup()
        //   .setLngLat({ lng: lng, lat: lat })
        //   .setHTML('<div id="map-on-marker"></div>')
        //   .addTo(map)
 
        // new PopupMarkerVue({
        //   propsData: { lngLat: e.lngLat },
        // }).$mount('#map-on-marker')  
      }
    },
    loaded(map) {
      this.mapOptions.marker = new mapboxgl.Marker({
        draggable: true
      }).setLngLat([0, 0])
        .addTo(map);

      this.mapOptions.marker.on('dragend', this.onDragEnd);

      [
        {image: require('@/assets/svg/location.svg'), title: 'home'},
        {image: require('@/assets/svg/house.svg'), title: 'school'},
      ].map(data => {
        let iconLocation = new Image(45, 45);
        iconLocation.onload = () => map.addImage(data.title, iconLocation)
        iconLocation.src = data.image
      })

      map.addSource('points', { type: 'geojson', data: this.getGisFeatureCollections });

      map.addLayer({
        id: 'points',
        type: 'symbol',
        source: "points",
        layout: {
          'text-field': '{title}',
          'text-offset': [0, 1.30],
          'text-anchor': 'top',
          'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
        }
        // layout: {
        //   'icon-image': '{icon}-15',
        //   'text-field': '{title}',
        //   'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
        //   'text-offset': [0, 0.6],
        //   'text-anchor': 'top',
        //   "icon-image": "cat",
        //   "icon-size": 1
        // },
      })

      this.setImage()
  
    },
    setImage() {
      console.log('sds')
      this.getGisFeatureCollections.features.forEach(marker => {
        var el = document.createElement('div');
        el.className = 'marker';
        el.style.backgroundImage = `url('${marker.properties.icon.url}')`;
        el.style.width = marker.properties.icon.width + 'px';
        el.style.height = marker.properties.icon.height + 'px';

        el.addEventListener('click', (e) => {
          new mapboxgl.Popup()
          .setLngLat({ lng: marker.geometry.coordinates[0], lat: marker.geometry.coordinates[1] })
          .setHTML('<div id="vue-popup-content-image"></div>')
          .addTo(this.mapOptions.map)
 
          new PopupContent({
            propsData: {
              feature: {
                properties: {
                  title: marker.properties.title,
                  image: marker.properties.image,
                  detail: JSON.stringify(marker.properties.detail)
                }
              }
            },
          }).$mount('#vue-popup-content-image')

          e.stopPropagation()
        })

        this.mapOptions.markerGis.push(
          new mapboxgl.Marker(el)
          .setLngLat(marker.geometry.coordinates)
          .addTo(this.mapOptions.map)
        )
      })
    },
    removeMarker() {
      this.mapOptions.markerGis.forEach(data => data.remove());
    },
    geolocate(control, position) {
      console.log(
        `User position: ${position.coords.latitude}, ${position.coords.longitude}`
      )
    },
  }
}
</script>
<style>
#map {
  width: 100%;
  height: 500px;
}
</style>