<template>
  <div>
    <div class="p-2">
      <p>Lng: {{ lngLat.lng }}</p>
      <p>Lat: {{ lngLat.lat }}</p>
      <!-- <div>
        <button v-on:click="fullscreen()" v-b-modal.modal-1 class="btn btn-sm btn-primary btn-block border mt-2">Tambah Titik Point</button>
        <b-modal id="modal-1" title="Tambah Titik Point" :hide-footer="true" scrollable size="lg">
          <div>
            <TambahTitikPoint @on-save="$parent.updateState()" :lngLat="lngLat" :fromModal="true" :isEdit="false" :dataEdit="{}"/>
          </div>
        </b-modal>
      </div> -->
    </div>
  </div>
</template>
 
<script>
import Vue from 'vue'
import TambahTitikPoint from '@/pages/gis/_form/TambahTitikPoint'
export default Vue.extend({
  props: {
    lngLat: {
      required: true,
      type: Object,
    },
  },
  components: {
    TambahTitikPoint
  },
  methods: {
    fullscreen() {
      var isInFullScreen = (document.fullscreenElement && document.fullscreenElement !== null) ||
          (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
          (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
          (document.msFullscreenElement && document.msFullscreenElement !== null);

      var docElm = document.documentElement;
      if (isInFullScreen) {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
      }
    }
  }
})
</script>