<template>
  <div>
    <div class="p-2" v-if="properties != null">
      <img :src="properties.image" alt="" class="img-fluid">
      <div class="clearfix"></div>
      <hr/>
      <div>
        <h6>{{ JSON.parse(properties.detail).title }}</h6>
        <button v-b-modal.modal-detail class="btn btn-primary btn-sm" v-on:click="fullscreen()">Detail</button>
      </div>
      <b-modal id="modal-detail" scrollable title="Detail" size="lg" :hide-footer="true">
        <div class="my-3">
          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Judul</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).title }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Latitude</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).lat }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Longitude</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).lng }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Type</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).type }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Description</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).description }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Image</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).image }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Address</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).address }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Phone</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).phone }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Home Phone</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).home_phone }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Work Phone</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).work_phone }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Province</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).province }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">City</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).city }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">District</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).district }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Village</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).village }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">RT/RW</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).na_ca }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Status</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).is_active }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Created</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).created_at }}</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <h6 class="text-right">Last Updated</h6>
            </div>
            <div class="col-md-9">
              <p>: {{ JSON.parse(properties.detail).updated_at }}</p>
            </div>
          </div>


        </div>
      </b-modal>
    </div>
    <div v-else>Nothing to Display</div>
  </div>
</template>
 
<script>
import Vue from 'vue'
export default Vue.extend({
  props: {
    feature: {
      required: true,
      type: Object,
    },
  },
  data () {
    return {
      properties: null
    }
  },
  mounted () {
    this.properties = this.feature.properties
  },
  methods: {
    fullscreen() {
      var isInFullScreen = (document.fullscreenElement && document.fullscreenElement !== null) ||
          (document.webkitFullscreenElement && document.webkitFullscreenElement !== null) ||
          (document.mozFullScreenElement && document.mozFullScreenElement !== null) ||
          (document.msFullscreenElement && document.msFullscreenElement !== null);

      var docElm = document.documentElement;
      if (isInFullScreen) {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen();
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen();
        }
      }
    }
  },
})
</script>