<template>
    <div>
        <div class="card" v-if="showFilter">
            <div class="card-header">
                <h3 class="card-title">Filter</h3>
            </div>
            <div class="card-body">
                <div class="row">
                  <slot name="filter"></slot>
                  <div class="col-md-3">
                    <label for="">Per Page</label>
                    <select class="form-control" v-model="moreParams.per_page">
                      <option value="2">2</option>  
                      <option value="3">3</option>
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="50">50</option>
                    </select>
                  </div>
                    <div class="col-md-3">
                        <label for="">Search</label>
                        <input type="text" class="form-control" placeholder="Search" v-model="moreParams.q">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <slot name="title"></slot>

            <div class="table-responsive">
                <vuetable ref="vuetable"
                          :api-url="endpoint"
                          :fields="fields"
                          pagination-path=""
                          :css="styles.table"
                          :sort-order="sortOrder"
                          :multi-sort="true"
                          :append-params="moreParams"
                          :http-options="headerOptions"
                          @vuetable:pagination-data="onPaginationData"
                          @vuetable:loaded="loaded"
                >
                    <template v-for="field in fields"
                              v-if="extractName(field.name) === '__slot'"
                              :slot="extractArgs(field.name)"
                              slot-scope="props"
                    >
                        <slot :name="extractArgs(field.name)" :row-data="props.rowData"></slot>
                    </template>
                </vuetable>
            </div>

            <div class="card-footer">
                <table-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"></table-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import styles from './_styles'
    import headerOptions from './_http-options'

    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import TablePagination from './Pagination'
    import _ from 'lodash'

    export default {
        components: {
            Vuetable,
            TablePagination,
        },

        props: {
            endpoint: {
                type: String,
                required: true
            },
            fields: {
                required: true,
                type: Array
            },
            sortOrder: {
                type: Array,
                default: () => [],
            },
            moreParams: {
                type: Object,
                default: () => {},
            },
            showFilter: {
                default: true
            }
        },

        watch: {
            moreParams: {
                handler:_.debounce(function()  {
                    this.$refs.vuetable.refresh()
                }, 200),

                deep: true
            }
        },

        data() {
            return {
                styles,
                headerOptions
            }
        },

        methods: {
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },
            onChangePage(page) {
                this.$refs.vuetable.changePage(page)
            },

            loaded() {
                $('[data-toggle="tooltip"]').tooltip();
            },

            extractName(string) {
                return string.split(':')[0].trim()
            },

            extractArgs(string) {
                return string.split(':')[1]
            },
        },
    }
</script>

<style scoped>
    table > th, td {
        vertical-align: middle !important;
        white-space: nowrap;
    }
</style>