<template>
    <div class="card">
        <slot name="title"></slot>
        <div class="table-responsive">
            <vuetable ref="vuetable"
                      :http-options="httpOptions"
                      :api-mode="false"
                      :fields="fields"
                      :data-total="dataCount"
                      :data-manager="dataManager"
                      pagination-path="pagination"
                      :per-page="15"
                      :css="styles.table"
                      @vuetable:pagination-data="onPaginationData"
            >
                <template v-for="field in fields"
                          v-if="extractName(field.name) === '__slot'"
                          :slot="extractArgs(field.name)"
                          slot-scope="props"
                >
                    <slot :name="extractArgs(field.name)" :row-data="props.rowData"></slot>
                </template>
            </vuetable>
        </div>

        <div class="card-footer">
            <table-pagination ref="pagination" @vuetable-pagination:change-page="onChangePage"></table-pagination>
        </div>
    </div>
</template>

<script>
    import styles from './_styles'
    import httpOptions from './_http-options'
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import TablePagination from "./Pagination";
    import _ from 'lodash'

    export default {
        props: {
            data: {
                default: []
            },
            fields: Array
        },

        components: {
            Vuetable,
            TablePagination,
        },

        data() {
            return {
                httpOptions,
                styles,
                query: '',
                dataCount: 0,
            }
        },

        methods: {
            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData)
            },

            onChangePage(page) {
                this.$refs.vuetable.changePage(page)
            },

            extractName(string) {
                return string.split(':')[0].trim()
            },

            extractArgs(string) {
                return string.split(':')[1]
            },

            dataManager(sortOrder = [], pagination = null) {
                let data = this.data;

                if (sortOrder.length > 0) {
                    data = _.orderBy(data, sortOrder[0].sortField, sortOrder[0].direction);
                }

                pagination = this.$refs.vuetable.makePagination(data.length);

                return {
                    pagination: pagination,
                    data: _.slice(data, pagination.from - 1, pagination.to)
                }
            }
        },
    }
</script>

<style scoped>
    td {
        vertical-align: middle !important;
    }
</style>