<template>
  <div id="app">
    <loading :active.sync="getLoading" 
        :can-cancel="false" 
        :is-full-page="true"></loading>
    <vue-topprogress 
      color="#eee"
      :height="5"
      ref="topProgress"></vue-topprogress>

    <fragment v-if="$route.name == 'AuthLoginPage'">
      <router-view/>
    </fragment>
    <fragment v-else>
      <base-header/>
      <base-sidebar/>
        <router-view/>
      <base-footer/>
    </fragment>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import { vueTopprogress } from 'vue-top-progress'

import { mapGetters } from 'vuex'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

require ('@/assets/theme/plugins/fontawesome-free/css/all.min.css')
require ('@/assets/theme/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css')
require ('@/assets/theme/plugins/icheck-bootstrap/icheck-bootstrap.min.css')
require ('@/assets/theme/dist/css/adminlte.min.css')
require ('@/assets/theme/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')

export default {
  name: 'app',
  components: {
    HelloWorld,
    vueTopprogress,
    Loading
  },
  data () {
    return {
      window: {
        height: 0,
        width: 0
      }
    }
  },
  created() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },
  mounted () {
    let that = this;
    
    $('ul.nav-sidebar a').on('click', function() {
      if(!$(this).parent().hasClass('has-treeview')) {
        if(that.window.width < 992) {
          $('body').addClass('sidebar-collapse').removeClass('sidebar-open')
        }
      }
    })

  },
  computed: {
    ...mapGetters([
      'getLoading'
    ])
  },
  methods: {
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    }
  },
  watch: {
    '$route' () {
      this.$refs.topProgress.start()

      setTimeout(() => {
        this.$refs.topProgress.done()
      }, 100)
    },
  }
}
</script>
<style>
  @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

  .content-header {
    background-color: #ffff !important;
    margin-bottom: 10px !important;
  }
  .marker {
    background-image: url('./assets/svg/location.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
</style>